.header {
  height: 45px;
  .title {
    color: #1b1b1b;
    margin-left: 10px;
    font-family: "Roboto Condensed", sans-serif;
  }
  .back {
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 10px;
  }
}

.text-html {
  font-family: "Roboto Condensed";
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

ion-spinner {
  color: #016d38;
}
