<ion-content>
  <ion-grid style="width: 100%; height: 100%">
    <ion-row>
      <ion-col size="12" style="margin-top: 10px">
        <div class="icon-container text-align-center">
          <ion-img
            id="resumen"
            src="/assets/chronometer/news/save.svg"
            *ngIf="action == 'save'"
          ></ion-img>
          <ion-img
            id="resumen"
            src="/assets/chronometer/news/stop.svg"
            *ngIf="action == 'del'"
          ></ion-img>
        </div>
      </ion-col>
      <ion-col size="12" class="text-align-center" style="text-align: center">
        <ion-label class="title">
          {{ title }}
        </ion-label>
      </ion-col>
      <ion-col size="12" class="text-align-center" style="text-align: center">
        <div class="desc-container">
          <ion-label class="desc" style="height: 36px; width: 180px">
            {{ description }}
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="text-align-center">
      <div class="button-container">
        <ion-col *ngIf="action == 'del'">
          <ion-button class="btn-action" (click)="dismiss('1')"
            >Borrar</ion-button
          >
        </ion-col>
        <ion-col *ngIf="action == 'save'">
          <ion-button class="btn-action" (click)="dismiss('1')"
            >Registrar</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button class="btn-back" (click)="dismiss()">Cancelar</ion-button>
        </ion-col>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
