.text {
  font-size: 14px;
  font-family: "Roboto Bold Condensed", sans-serif;
  line-height: 16px;
  color: #333333;
  border-left: 2px solid #ffdd00;
  padding-left: 9px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 10px;
}
.text-activity {
  font-size: 14px;
  font-family: "Roboto Bold Condensed", sans-serif;
  line-height: 16px;
  color: #333333;
  border-left: 5px solid #ffdd00;
  padding-left: 9px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 10px;
}
