.tool-bar {
  --background: #ffffff !important;
}

.button {
  text-transform: none;
  --color: #c6c6c6 !important;
  font-family: "Roboto Condensed";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
  text-align: right;
}
