<ion-content class="content">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img
          src="/assets/maintenance/maintenance.png"
          class="main-image"
          alt=""
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-start">
        <p class="title">Regresaremos pronto</p>
        <div class="black-path"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="ion-text-start">
          Nos disculpamos por los inconvenientes, pero estamos realizando tareas
          de mantenimiento en estos momentos. Regresaremos en poco tiempo.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="ion-text-start">
          &mdash; Equipo <span class="bold-text">Bolivar conmigo</span>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
