.button-close-modal {
  top: -5px;
  right: -13px;
  position: fixed;
}

.title {
  font-family: "Roboto Bold Condensed";
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.x-button {
  color: #abacaf;
  font-size: 26px;
}

.margin-top-title {
  margin-top: 5px;
}
