#arrow {
  transform: rotate(270deg);
}

.center-arrow {
  display: block;
  margin: auto;
  align-items: center !important;
  padding-left: 20px;
}

.estos-terminos-y-con {
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.terminos-y-condicion {
  height: 16px;
  width: 145px;
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
}

.rectangle-copy-5 {
  height: 70px;
  width: 362px;
  background-color: #ffffff;
}

.grid-desc {
  margin-left: 40px;
}

.content-login {
  background: white;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.line-copy-1 {
  border-right: solid;
  border-right-color: #ffdd00;
}

.header {
  background-color: white !important;
  border: 1px solid #e6e6e6 !important;
}
