<ion-header class="header">
  <app-header></app-header>
</ion-header>
<ion-content>
  <ion-grid class="content-login">
    <ion-row>
      <ion-col size="2" class="center-arrow line-copy-1">
        <ion-icon
          src="/../../assets/svg/icon-arrow.svg"
          [routerLink]="['/login']"
        ></ion-icon>
      </ion-col>
      <ion-col size="10">
        <p class="terminos-y-condicion">
          <strong> Tratamiento de datos</strong>
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="estos-terminos-y-con grid-desc">
          Estos t&eacute;rminos y condiciones regulan sus derechos y
          obligaciones con respecto al uso de la aplicaci&oacute;n Bienestar
          Seguros Bol&iacute;var. El uso que usted haga del software, del
          contenido y de los servicios que proporcione esta aplicaci&oacute;n
          excluyen y no interferir&aacute;n con otros servicios que Seguros
          Bol&iacute;var puede proporcionarle. Tenga presente que al acceder al
          portal y/o usar los servicios ofrecidos, est&aacute; aceptando sin
          ning&uacute;n tipo de reserva, y se est&aacute; obligando conforme a
          estos t&eacute;rminos generales, la Pol&iacute;tica de tratamiento de
          datos y la pol&iacute;tica de privacidad de Seguros Bol&iacute;var
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
