<app-header></app-header>
<ion-row class="header-purpose">
  <app-back-button-updated class="back"></app-back-button-updated>
  <app-widget-header class="title" [title]="title"></app-widget-header>
</ion-row>
<ion-content class="content">
  <div class="spin">
    <ion-spinner name="bubbles" [hidden]="!showSpinner"></ion-spinner>
  </div>
  <ion-grid fixed class="empty-grid" *ngIf="sectiontToShow == sections.empty">
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="/assets/purpose/img-empty.png" class="main-image" alt="" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <span class="title"> ¡Aún no ha añadido propósitos! </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <span class="description">
          Conozca y añada los objetivos que desea lograr para mejorar sus
          hábitos de salud.
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button class="action-button" fill="none" (click)="goToAddPurpose()"
          >AÑADIR PROPÓSITOS
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid
    fixed
    class="purpose-grid"
    *ngIf="sectiontToShow == sections.purposes"
  >
    <ion-row class="bar-shadow">
      <ion-col class="ion-text-center">
        <ion-segment
          scrollable
          [(ngModel)]="selectedStatus"
          (ionChange)="statusChanged($event)"
          mode="ios"
        >
          <ion-segment-button
            class="segment-statuses"
            id="seg-actives"
            value="actives"
          >
            <ion-label class="label-statuses">Activos</ion-label>
          </ion-segment-button>
          <ion-segment-button
            class="segment-statuses"
            id="seg-completed"
            [disabled]="completedDisable"
            value="completed"
          >
            <ion-label class="label-statuses">Finalizados</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row class="leitmotiv-background">
      <ion-list fixed class="purpose-list">
        <div
          class="purpose-list-header actives"
          *ngIf="selectedStatus==statuses.actives"
        >
          <div class="over-image"></div>

          <ion-grid class="grid-header">
            <div class="ion-row">
              <p class="title-content">
                ¡Cada propósito lo acerca a cumplir sus metas!
              </p>
            </div>
            <div class="ion-row">
              <p class="description-content">Le ayudaremos a cumplirlos</p>
            </div>
          </ion-grid>
        </div>

        <div
          class="purpose-list-header completed"
          *ngIf="selectedStatus==statuses.completed"
        >
          <div class="over-image"></div>

          <ion-grid class="grid-header">
            <div class="ion-row">
              <p class="title-content">¡Bien hecho!</p>
            </div>
            <div class="ion-row">
              <p class="description-content">Siga cumpliendo sus propósitos</p>
            </div>
          </ion-grid>
        </div>
        <div
          *ngFor="let purpose of purposes | purposeStatusFilter:selectedStatus"
        >
          <app-purpose-selected
            [purpose]="purpose"
            [isEdit]="isEdit"
            (onRemove)="onRemove(purpose)"
          >
          </app-purpose-selected>
        </div>
      </ion-list>
    </ion-row>
    <ion-row *ngIf="selectedStatus == statuses.actives">
      <ion-col class="ion-text-center">
        <ion-button class="action-button" fill="none" (click)="goToAddPurpose()"
          >AÑADIR PROPÓSITOS
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="selectedStatus == statuses.actives">
      <ion-col class="ion-text-center">
        <ion-button fill="clear" *ngIf="!isEdit" (click)="onEdit()">
          <ion-icon
            class="edit-button-icon"
            slot="icon-only"
            src="../../assets/purpose/pencil.svg"
          ></ion-icon>
          <span class="edit-button"> Editar propósito </span>
        </ion-button>
        <ion-button fill="clear" *ngIf="isEdit" (click)="onSave()">
          <ion-icon
            class="edit-button-icon"
            slot="icon-only"
            src="../../assets/purpose/check.svg"
          ></ion-icon>
          <span class="edit-button"> Guardar </span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
