.ion-content {
  --background: white;
  margin-bottom: 20vw;
}

.main-image {
  width: 74px;
  height: 65px;
  left: 147.11px;
  top: 1px;
  margin-bottom: -5px;
  margin-top: -20px;
}

.bg-color {
  --border-radius: 20px;
  --background: #ffdc5d;
  --color: #006d38;
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
  height: 36px;
  width: 122px;
}

.bg-color-no-selected {
  box-sizing: border-box !important;
  height: 36px;
  width: 238px;
  --border: 1px solid #ffdc5d;
  --border-radius: 20px;
  border-radius: 20px;
  --background: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.09);
  font-family: "Roboto Condensed", sans-serif !important;
  --color: #006d38;
}

.content-text {
  width: 80%;
  opacity: 0.9;
  color: #666666;
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  text-align: left;
  margin-left: 35px !important;
  margin-top: 5px !important;
}

.connect-header {
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  background-color: #fbfbfb;
  height: 45px;
  .title {
    color: #1b1b1b;
    margin-left: 10px;
    font-family: "Roboto Condensed", sans-serif;
  }
  .back {
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 10px;
  }
}

.ion-justify-content-center {
  display: flex;
  margin-top: 60px;
}

.name {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center !important;
  color: #1b1b1b;
}

ion-content.background {
  --background: url("/assets/leitmotivs/bottom-leimotiv.svg") 0 0/100% 190%
    no-repeat white;
}
