<ion-card class="ion-card">
  <div class="header">
    <ion-avatar class="avatar">
      <img src="assets/activities/user.svg" alt="" />
    </ion-avatar>
    <ion-label class="info ion-text-nowrap">
      <h1 class="name">{{ profile?.name.displayName }}</h1>
      <span class="hour">{{
        activity?.modificationTime | formsCustomDate
      }}</span>
    </ion-label>
  </div>
  <ion-card-content class="content">
    <ion-row>
      <ion-text class="activity-label">
        Actividad realizada:
        <strong class="bold-text">{{
          activity?.activity | activityTranslate: activitiesTranslate
        }}</strong
        >, durante
        <strong class="bold-text"
          >{{ activity?.duration / 60 | number: "1.2-2" }} minutos.</strong
        >
      </ion-text>
    </ion-row>
    <ion-row class="kcal">
      <ion-icon class="icon-yellow-fire" src="/assets/activities/fire.svg">
      </ion-icon>
      <ion-text class="kcal-label" *ngIf="activity?.energy"
        >{{
          activity?.energy | activityKcal | async | number: "1.0-0"
        }}
        Kcal</ion-text
      >
    </ion-row>
  </ion-card-content>
  <ion-card-footer class="social-network">
    <ion-toolbar class="ion-text-right footer-toolbar">
      <ion-row>
        <ion-col size="7">
          <div class="likes">{{ likesToSend | likesSummary }}</div>
        </ion-col>
        <ion-col size="5">
          <div class="likes-comments">
            <button class="button" (click)="nonLikeFriend()" *ngIf="isLike">
              <ion-icon
                slot="icon-only"
                class="icon liked"
                name="heart-outline"
              ></ion-icon
              >{{ likes }}
            </button>
            <button class="button" (click)="onLikeFriend()" *ngIf="!isLike">
              <ion-icon
                slot="icon-only"
                class="icon"
                name="heart-outline"
              ></ion-icon
              >{{ likes }}
            </button>
            <button class="button" (click)="onOpenModalComments()">
              <ion-icon
                slot="icon-only"
                class="icon"
                name="chatbox-outline"
              ></ion-icon>
              {{ comments }}
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-card-footer>
</ion-card>
