<div class="card-transparent-coach">
  <app-widget-header title="Mi coach" cssClassTitle="text"></app-widget-header>
  <div class="card-content-coach">
    <ion-row>
      <ion-col size="12" class="image-content-coach">
        <ion-grid class="grid-content-coach">
          <ion-row>
            <ion-col>
              <p class="title-content-coach">
                {{ title }}
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="description-content-coach">
                {{ description }}
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </div>
</div>
