<div class="card-transparent">
  <app-widget-header
    title="Mis propósitos"
    cssClassTitle="title-purpose"
  ></app-widget-header>
  <div class="card-content">
    <ion-row>
      <ion-col size="5" class="image-content"> </ion-col>
      <ion-col size="7" class="text-content">
        <ion-grid class="grid-content">
          <ion-row>
            <ion-col>
              <p class="title-content">
                {{ title }}
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="description-content">
                {{ description }}
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </div>
</div>
