<div class="card-transparent">
  <ion-row>
    <ion-col size="12" style="margin-left: 2vw">
      <app-widget-header
        [title]="titleHeaderBlog"
        cssClassTitle="text"
      ></app-widget-header>
    </ion-col>
  </ion-row>
  <div
    class="ion-align-items-center ion-text-center"
    *ngIf="items == null || items.length == 0"
  >
    <ion-spinner class="ion-spinner" name="bubbles"></ion-spinner>
  </div>
  <div class="card-content" *ngIf="items != null && items.length > 0">
    <ion-slides [options]="slideOpts">
      <ion-slide
        class="image-slide"
        *ngFor="let item of items"
        (click)="goToBlogDetails(item)"
      >
        <ion-card>
          <div
            class="cover-image"
            [style]="item.imagen | backgroudStyleSanitizer"
            *ngIf="item.imagen"
          >
            <div class="bg-cover-slide"></div>
          </div>
          <ion-grid class="grid-content" *ngIf="item.imagen">
            <ion-row class="row-content-title">
              <p class="title-content">
                {{ item?.title }}
              </p>
            </ion-row>
            <ion-row class="row-content-description">
              <div class="description-content" [innerHtml]="item.excerpt"></div>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</div>
